<div *ngIf="showMsg">
    <p *ngFor="let msg of messages">
        {{msg}}
    </p>
</div>

<form #paymentMethodForm="ngForm">
    <input type="text" name="name"    id="name"    #name    placeholder="Name"   [(ngModel)]="paymentMethod.name" /><br />
    <select type="enable" name="enable" id="enable" #enable [(ngModel)]="paymentMethod.enable">
        <option *ngFor="let enable of enables" [value]="enable.id">
            {{enable.name}}
        </option>
    </select>
    <br/>
    <button (click)="save()">Save</button><br/>
    <button routerLink="/home" >Cancel</button>
</form>
