<h1>Datos Adicionales</h1>
<h3>por favor llenar todo los campos de caracter obligatorio</h3>


<div *ngIf="showMsg">
    <p *ngFor="let msg of messages">
        {{msg}}
    </p>
</div>

<form #customerForm="ngForm">
    <input type="text" name="name" id="name" #name placeholder="Name" [(ngModel)]="customer.name" /><br />
    <input type="text" name="address" id="adress" #address placeholder="Address" [(ngModel)]="customer.address" /><br />
    <input type="text" name="phone" id="phone" #phone placeholder="Phone" [(ngModel)]="customer.phone" /><br />

 
    <button (click)="save()">Guardar</button><br/>
    <button routerLink="/customer-list">Cancel</button>  
</form>